:root{
    --primary: #0d6efd;
  --secondary: #6c757d;
  --dark: #0b0f1a;
  --light: #ffffff;
  --gray: #f5f6fa;
  --text: #1c1c1c;

}


#img{
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url(../images/photo-arriere-plan.jpg);
    gap: 100px;
    padding: 100px;
    align-items: center;
    color: var(--dark);
}